<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;700&family=Raleway&family=Roboto:wght@100&display=swap');

    .termo-page {
      width: 615px;
      padding: 3% 0 0;
      margin: auto;
    }

    .style {
      display: flex;
      position: relative;
      z-index: 1;
      border: 0;
      border-radius: 8px;
      margin: 0 auto 100px;
      background: #FFFFFF;
      max-width: 700px;
      padding: 15px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .contorno {
      width: 550px;
      height: 500px;
      border: 0;
      border-radius: 10px;
      overflow: auto;
      margin: 20px;
      padding: 20px 20px 20px 20px;
      background-color: #f1f1f1;
    }

    body {
      background: #16735f;
      font-family: "Montserrat", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .botao {
      display: block;
      align-self: center;
      margin: 10px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: #0f483c;
      padding: 0.7em;
      border-radius: 8px;
      color: #FFFFFF;
      font-size: 15px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    }

  </style>

<div class="termo-page">
    <div class="style">
        <div class="termo-style">
            <h1 class="text-titulo" style="color: #000;">TERMOS DE SERVIÇO E CONSENTIMENTO DE DADOS</h1>
            <div class="contorno">

                <p><strong>1. INTRODUÇÃO</strong></p>
                <p>Este documento estabelece os termos e condições para a utilização dos serviços oferecidos pela Empresa, doravante denominada "Health Hub". Ao assinar nossos planos, a Empresa concorda e se compromete a cumprir integralmente os termos aqui apresentados.</p>

                <p><strong>2. SERVIÇOS OFERECIDOS</strong></p>
                <p>A Empresa terá acesso aos serviços descritos nos planos escolhidos, que incluem a coleta, armazenamento seguro e processamento de dados dos pacientes.</p>

                <p><strong>3. COLETA E ARMAZENAMENTO DE DADOS</strong></p>
                <p>Ao assinar nossos planos, a Empresa concorda em permitir a coleta de dados dos pacientes, incluindo, mas não se limitando a, informações médicas, pessoais e de contato. Esses dados serão armazenados de forma segura em nossos servidores, visando aprimorar o desempenho e a organização dos registros.</p>

                <p><strong>4. SEGURANÇA DOS DADOS</strong></p>
                <p>A Empresa reconhece e concorda que a segurança dos dados é uma prioridade. Comprometemo-nos a implementar medidas de segurança físicas, técnicas e administrativas para proteger os dados armazenados contra acesso não autorizado, divulgação, alteração e destruição.</p>

                <p><strong>5. PERMANÊNCIA DOS DADOS</strong></p>
                <p>Mesmo em caso de término da assinatura, a Empresa compreende e aceita que os dados dos pacientes continuarão armazenados em nosso banco de dados. Essa retenção é essencial para a melhoria contínua dos serviços prestados e para cumprir obrigações legais.</p>

                <p><strong>6. USO E FINALIDADE DOS DADOS</strong></p>
                <p>Os dados dos pacientes serão utilizados exclusivamente para os fins estabelecidos nos planos assinados pela Empresa. Qualquer uso adicional ou compartilhamento de dados será realizado mediante consentimento prévio e explícito da Empresa.</p>

                <p><strong>7. RESPONSABILIDADES LEGAIS</strong></p>
                <p>A Empresa é responsável por garantir que possui o devido consentimento dos pacientes para a coleta, armazenamento e processamento de seus dados. A Empresa também concorda em cumprir todas as leis e regulamentações aplicáveis relacionadas à proteção de dados e privacidade.</p>

                <p><strong>8. ALTERAÇÕES NOS TERMOS DE SERVIÇO</strong></p>
                <p>A Empresa reconhece que os termos de serviço podem ser atualizados periodicamente. Qualquer alteração será comunicada à Empresa com antecedência, e a continuidade do uso dos serviços após as alterações será considerada como aceitação dos novos termos.</p>

                <p><strong>9. CONSENTIMENTO</strong></p>
                <p>Ao assinar nossos planos, a Empresa declara ter lido, compreendido e aceito todos os termos e condições estabelecidos neste documento, bem como concorda com a coleta, armazenamento e processamento de dados conforme descrito.</p>

                <p><strong>10. CONTATO</strong></p>
                <p>Para esclarecimentos ou dúvidas sobre estes termos, a Empresa pode entrar em contato conosco através dos canais de suporte indicados em nosso site.</p>

                <p>Ao assinar nossos planos, a Empresa atesta seu entendimento e aceitação dos termos estabelecidos neste documento.</p>

            </div>
            <a href="/plano" class="botao" style="background-color: #16735f;">Aceitar</a>
            <a href="/Home" class="botao" style="background-color: #ababab;">recusar</a>
        </div>
    </div>
</div>