<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;700&family=Raleway&family=Roboto:wght@100&display=swap');

  .plano-page {
    width: 615px;
    padding: 3% 0 0;
    margin: auto;
  }

  .style {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .style input {
    font-family: "Montserrat", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 8px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .style button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #16735f;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .style button:hover,
  .style button:active,
  .style button:focus {
    background: #1f987e;
  }

  .style .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }


  .style .message a {
    color: #16735f;
    text-decoration: none;
  }

  body {
    background: #16735f;
      font-family: "Montserrat", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .contorno {
      width: 550px;
      height: 500px;
      border: 0;
      border-radius: 10px;
      overflow: auto;
      margin: 20px;
      padding: 20px 20px 20px 20px;
      background-color: #f1f1f1;
    }

  .botao {
      display: block;
      align-self: center;
      margin-top: 10px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: #16735f;
      padding: 1.1em;
      border-radius: 8px;
      color: #FFFFFF;
      font-size: 13px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer;
      text-transform: uppercase;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    }



</style>
<div class="plano-page">
    <h1 class="text-titulo" style="color: #fff; text-shadow: 0.1em 0.1em 0.2em black; text-align: center;">Leia os termos antes de prosseguir</h1>
    <div class="style">
        <h1 class="text-titulo" style="color: #000;">TERMOS DE SERVIÇO E CONSENTIMENTO DE DADOS</h1>
        <div class="contorno">

            <p><strong>1. INTRODUÇÃO</strong></p>
            <p>Este documento estabelece os termos e condições para a utilização dos serviços oferecidos pela Empresa, doravante denominada "Health Hub". Ao assinar nossos planos, a Empresa concorda e se compromete a cumprir integralmente os termos aqui apresentados.</p>

            <p><strong>2. SERVIÇOS OFERECIDOS</strong></p>
            <p>A Empresa terá acesso aos serviços descritos nos planos escolhidos, que incluem a coleta, armazenamento seguro e processamento de dados dos pacientes.</p>

            <p><strong>3. COLETA E ARMAZENAMENTO DE DADOS</strong></p>
            <p>Ao assinar nossos planos, a Empresa concorda em permitir a coleta de dados dos pacientes, incluindo, mas não se limitando a, informações médicas, pessoais e de contato. Esses dados serão armazenados de forma segura em nossos servidores, visando aprimorar o desempenho e a organização dos registros.</p>

            <p><strong>4. SEGURANÇA DOS DADOS</strong></p>
            <p>A Empresa reconhece e concorda que a segurança dos dados é uma prioridade. Comprometemo-nos a implementar medidas de segurança físicas, técnicas e administrativas para proteger os dados armazenados contra acesso não autorizado, divulgação, alteração e destruição.</p>

            <p><strong>5. PERMANÊNCIA DOS DADOS</strong></p>
            <p>Mesmo em caso de término da assinatura, a Empresa compreende e aceita que os dados dos pacientes continuarão armazenados em nosso banco de dados. Essa retenção é essencial para a melhoria contínua dos serviços prestados e para cumprir obrigações legais.</p>

            <p><strong>6. USO E FINALIDADE DOS DADOS</strong></p>
            <p>Os dados dos pacientes serão utilizados exclusivamente para os fins estabelecidos nos planos assinados pela Empresa. Qualquer uso adicional ou compartilhamento de dados será realizado mediante consentimento prévio e explícito da Empresa.</p>

            <p><strong>7. RESPONSABILIDADES LEGAIS</strong></p>
            <p>A Empresa é responsável por garantir que possui o devido consentimento dos pacientes para a coleta, armazenamento e processamento de seus dados. A Empresa também concorda em cumprir todas as leis e regulamentações aplicáveis relacionadas à proteção de dados e privacidade.</p>

            <p><strong>8. ALTERAÇÕES NOS TERMOS DE SERVIÇO</strong></p>
            <p>A Empresa reconhece que os termos de serviço podem ser atualizados periodicamente. Qualquer alteração será comunicada à Empresa com antecedência, e a continuidade do uso dos serviços após as alterações será considerada como aceitação dos novos termos.</p>

            <p><strong>9. CONSENTIMENTO</strong></p>
            <p>Ao assinar nossos planos, a Empresa declara ter lido, compreendido e aceito todos os termos e condições estabelecidos neste documento, bem como concorda com a coleta, armazenamento e processamento de dados conforme descrito.</p>

            <p><strong>10. CONTATO</strong></p>
            <p>Para esclarecimentos ou dúvidas sobre estes termos, a Empresa pode entrar em contato conosco através dos canais de suporte indicados em nosso site.</p>

            <p>Ao assinar nossos planos, a Empresa atesta seu entendimento e aceitação dos termos estabelecidos neste documento.</p>

        </div>
    </div>
</div>
<h1 class="text-titulo" style="color: #fff; text-shadow: 0.1em 0.1em 0.2em black; text-align: center;">Preencha as informações abaixo</h1>
<div class="plano-page">
    <div class="style">
        <p class="text-titulo">Informações da empresa</p>
        <input type="nome" placeholder="Nome" id="nome" disabled th:value="${usuario.nome}" style="background: #bacac6;"/>
        <input type="text" placeholder="Nome da empresa" id="nomeEmpresa" required />
        <input type="number" placeholder="CNPJ da empresa" id="CNPJ" required />
        <p class="text-titulo">Informações de pagamento</p>
        <input type="text" placeholder="Nome do cartão" id="nomeCartao" required />
        <input type="numero" placeholder="Numero do cartão" id="numeroCartao" required />
        <input type="numero" placeholder="Código do cartão" id="codigoCartao" required />
        <input type="date" placeholder="Validade do cartão" id="validade" required />
        <select class="form-select" id="id_plano">
            <option value="" selected disabled>Escolha o plano que deseja assinar</option>
            <option value="1">Plano Basico</option>
            <option value="2">Plano Pro</option>
            <option value="3">Plano Premium</option>
        </select>
        <br>
        <button class="btn-aceitar" id="assinar">Assinar</button>
        <a href="/Home" class="botao" style="background-color: #1f987e;">recusar</a>
    </div>
</div>
