<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;700&family=Raleway&family=Roboto:wght@100&display=swap');

  .plano-page {
    width: 500px;
    padding: 3% 0 0;
    margin: auto;
  }

  .style {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .style input {
    font-family: "Montserrat", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 8px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .style button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #16735f;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .style button:hover,
  .style button:active,
  .style button:focus {
    background: #1f987e;
  }

  .style .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }


  .style .message a {
    color: #16735f;
    text-decoration: none;
  }

  body {
    background: #16735f;
  }
</style>

<div class="plano-page">
    <div class="style">
        <p class="text-titulo">Informações da empresa</p>
        <input type="text" placeholder="Nome da empresa" id="nome" required />
        <input type="number" placeholder="CNPJ da empresa" id="CNPJ" required />
        <p class="text-titulo">Informações de pagamento</p>
        <input type="text" placeholder="Nome do cartão" id="nomeCartao" required />
        <input type="numero" placeholder="Numero do cartão" id="numeroCartao" required />
        <input type="numero" placeholder="Código do cartão" id="codigoCartao" required />
        <input type="data" placeholder="Validade do cartão" id="validadeCartao" required />
        <select class="form-select" id="plano">
            <option value="" selected disabled>Escolha o plano que deseja assinar</option>
            <option value="1">Plano Basico</option>
            <option value="2">Plano Pro</option>
            <option value="3">Plano Premium</option>
        </select>
        <label></label>
        <button class="btn-aceitar" id="assinar">Assinar</button>
    </div>
</div>